/* Generic */

@import url(./generic/normalize.css);
@import url(./generic/reset.css);

/* Base */

@import url(./base/variable.css);
@import url(./base/fonts.css);

/* Components */

@import url(./components/title.css);
@import url(./components/link.css);
@import url(./components/button.css);

/* Sections */

@import url(./sections/1accueil.css);
@import url(./sections/2agenda.css);
@import url(./sections/3infos_pratiques.css);
@import url(./sections/4fiche_evenement.css);

/* Layout */

@import url(./layout/body.css);
@import url(./layout/header.css);
@import url(./layout/aside.css);
@import url(./layout/footer.css);
@import url(./layout/responsive.css);