aside {    
	position: fixed;
	z-index: 1;
	padding: .25rem 1.5rem;
	border-radius: 30rem;
	text-align: center;
	/* Rotation à 90° + changement de point d'ancrage*/
	transform: rotate(90deg);
	transform-origin: right top;
	bottom: 0%;
	right: 1%;
	/* Glassmorphism */
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8.9px);
	-webkit-backdrop-filter: blur(8.9px);
	border: 1px solid rgba(255, 255, 255, 0.3)
}

aside ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

aside ul li  {
	margin: .5rem 0;
	transform: rotate(-180deg);
}

aside ul li:nth-child(2n):before, aside ul li:nth-child(2n):after {
    content:"";
	display: inline-block;
    background-image: url('../../ressources/images/fill_star.svg');
    background-size: 16px;
    width: 16px; 
    height: 16px;
    background-repeat: no-repeat;
    margin: -2px 16px;
}

aside ul li a {
	color: var(--noir);
}
