aside {    
	position: fixed;
	padding: .5rem 1.5rem;
	border-radius: 30rem;
	z-index: 0;
	text-align: center;
	/* Rotation */
	transform: rotate(-90deg);
	transform-origin: left bottom;
	bottom: 10%;
	right: -50%;
	/* Glassmorphism */
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

aside ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

aside ul li  {
	margin: .5rem 1.5rem;
}

aside ul li:nth-child(2n):before, aside ul li:nth-child(2n):after {
    content: "";
	background-image: url('../../ressources/images/outline_star.svg');
	background-size: contain;
    margin: 10px;
    vertical-align: 50%;
	width: 20%;
	height: 20%;
	display: inline-block;
}

aside ul li a {
	color: var(--noir);
}
