aside {    
	position: fixed;
	padding: .5rem 1.5rem;
	border-radius: 30rem;
	z-index: 0;
	text-align: center;
	/* Rotation */
	transform: rotate(90deg);
	transform-origin: right top;
	bottom: 0;
	right: 1.5%;
	/* Glass */
	background: rgba( 255, 255, 255, 0.65 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 20px );
	-webkit-backdrop-filter: blur( 20px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

aside ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

aside ul li  {
	margin: .5rem 1.5rem;
}

aside ul li a {
	color: var(--noir);
}