/*************** Document ***************/

* {
	margin: 0;
	padding: 0;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: lilgroteskregular, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.5rem;
	max-width: 100%;
	max-height: 100%;
	background-color: var(--fond_bg);
	scroll-behavior: smooth;
	overflow-x: hidden;
}


/*************** Éléments de texte ***************/

a,
ul,
li {
	text-decoration: none;
}

img, svg {
	object-fit: cover;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}


/*************** Structure & Habillage ***************/

.container {
	width: 80%;
	/* Centrer le containeur sur la page */
	margin-right: auto;
	margin-left: auto;
}

section {
	max-width: 100vw;
	min-height: 100vh;
	margin: 6vw 0;
	padding: 3vw 0;
}


/*************** Barre de défilement ***************/


/* Epaisseur scrollbar */

::-webkit-scrollbar {
	width: 1.5vw;
	height: 1.5vw;
}


/* Thumb */

::-webkit-scrollbar-thumb {
	background: var(--clementine);
	transition: all 0.5s ease;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--orange)
}


/* Track */

::-webkit-scrollbar-track {
	background: var(--fond_bg);
	border: 0.5px solid var(--gris_clair);
	box-shadow: inset 0 0 0 0 var(--fond_bg);
}