/*************** Général ***************/
* {
	margin: 0;
	padding: 0;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: lilgroteskregular, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.5rem;
	max-width: 100%;
	max-height: 100%;
	background-color: var(--fond_bg);
	scroll-behavior: smooth;
}

a, ul, li {
	text-decoration: none;
}

img {
	object-fit: cover;
	max-width: 100%;
	height: auto;
}