/* footer {
	background-color: var(--noir);
	color: var(--blanc);
	text-align: center;
	/* max-width: 100vw; */
	/* height: 100vh; */

	display: flex;
	flex-direction: column;
}
footer h1 {
	color: var(--blanc)
}
footer article {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	background-color: blue;
}

footer article:first-child {
	margin: 100px;
	background-color: rebeccapurple;
}