/*************** Général ***************/
footer {
	color: var(--blanc);
	text-align: center;
	width: 100vw;
	padding-top: 12vw;
	padding-bottom: 2rem;
	overflow: hidden;
	/* Arrière plan coupé */
	background-color: var(--noir);
	clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
	/* Flex */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	/* SideBar qui passe derrière le footer */
	position: absolute;
	z-index: 9;
	right: 0;
	left: 0;
}

/*************** Titre ***************/
footer h1 {
	color: var(--blanc);
}

footer h1::before, footer h1::after {
	filter: invert(1);
}

/*************** Article ***************/
footer article {
	text-align: center;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	/* justify-content: center; */
}

/*** Informations de contact ***/
footer article:nth-child(2n) {	
	margin-left: auto;
	margin-right: auto;
	width: 80%;	
	align-items: flex-start;
	justify-content: space-around;
	padding: 5rem 0;
}
footer article .social_medias > * {
	margin: .5rem;
}
footer article .social_medias ul {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

/*** Mentions d'informations ***/
footer article:nth-child(3n) ul {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

footer article:nth-child(3n) ul li {
	margin: 0.5rem 2rem;
	text-transform: uppercase;
}

footer article:nth-child(3n) ul li a {
	color: var(--gris);
}

footer img {
	position: absolute;
	z-index: -1;
	right: 0;
	bottom: -2rem;
	width: 15vw;
}