/*************** Menu ordinateur ***************/
header {
	position: fixed;
	top: 0;
	z-index: 10;
	text-align: center;
	max-width: 100%;
	width: 100%;
	padding: 1rem 0;
	/* Glassmorphism */
	background: rgba(255, 255, 255, 0.05);
	border-radius: 0 0 16px 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

header nav {
	/* Flex */
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header img  {
	width: 75%;
	text-align: left;
}

header ul {
	width: 65%;
	font-family: monument;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

header ul li a {
	color: var(--gris_clair);
}

/*************** Menu burger ***************/
