/*************** Menu ordinateur ***************/

header {
	position: fixed;
	top: 0;
	z-index: 10;
	text-align: center;
	min-width: 100%;
	padding: 1rem 0;
	/* Glassmorphism */
	background: rgba(255, 255, 255, 0.05);
	border-radius: 0 0 16px 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	/* Flex */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Logo */
header svg {
	width: 75%;
}

/* Menu */
header nav {
		width: 65%; 	
}

header ul {
	font-family: monument;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

header ul li a {
	color: var(--gris_clair);
	margin: 0 .5rem;
}


/*************** Menu burger ***************/

header button {
	color: var(--blanc);
	border: none;
	background-color: transparent;
}

#open,
#close {
	display: none;
	font-size: 2em;
	margin: 0 2rem;
	height: 30px;
	width: 30px;
}

header nav.open {
	transform: translateY(0);
}
