header nav {
    text-align: center;
    max-width: 100%;
    width: 100%;
    padding: 1rem;
    /* Flex */
	position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Glass */
    background: rgba( 217, 213, 210, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* header nav > * {
    flex: 1 2;
} */

header img  {
    width: 75%;
    text-align: left;
}
header ul {
    width: 65%;
    font-family: monument;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}