header nav {
    position: fixed;
    top: 0;
    z-index: 2;
    text-align: center;
    max-width: 100%;
    width: 100%;
    padding: 1rem;
    /* Flex */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Glass */
    background: rgba( 255, 255, 255, 0.65 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

header img  {
    width: 75%;
    text-align: left;
}
header ul {
    width: 65%;
    font-family: monument;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header ul li a {
    color: var(--gris);
}