/* Le site doit être responsive jusqu'à une résolution de 320px de large (type iphone 5/SE). */

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* 
menu burger
pages + responsive : accueil & evenements
Calendrier : fleches + mois
=> Tailles aux images de l'agenda + soulignement
*/

/* Dispositifs très petits (téléphones, 630px et -) */
@media only screen and (max-width : 630px)  {
	#accueil #bandeaux img:first-child {
		top: 40%;
	}

	/*EMILIE*/
	.evenements .header_event .picture .polygone{
		right: 0%;
		top: -5%;
	}

	.header_event p{
		font-size: 1.8rem;
		line-height: 3rem;
	}
	.header_event .titre h2{
		text-align: center;
		font-size: 4.5rem;
		line-height: 3rem;
	}

	.header_event h2::before {
		display: inline-block;
		background-image: url('../../ressources/images/fill_star.svg');
		background-size: clamp(1vw, 4vw, 4vw);
		width: clamp(1vw, 4vw, 4vw);
		height: clamp(1vw, 4vw, 4vw);
	}
	.header_event h2::after {
		background-size: clamp(1vw, 4vw, 4vw);
		width: clamp(1vw, 4vw, 4vw);
		height: clamp(1vw, 4vw, 4vw);
	}
}


/* Périphériques de taille moyenne (tablettes, 768px et +) */
@media only screen and (max-width : 768px) {
	aside {
		display: none;
	}

	/*************** Menu burger  ***************/
	#open{
		display:block;
		position:fixed;
		height:30px;
	}

	#open i{
		max-height:100%;
	}

	#close{
		display:block;
		position:absolute;
	}

	header nav{
		position:fixed;
		z-index:2;
		background-color: orange;
		width:250px;
		height:100vh;
		left:0;
		transform:translateX(-250px);
		transition:transform 0.25s ease-in-out;
	}

	header nav ul{
		height:auto;
		margin-top:40px;
	}

	header nav ul li, header nav ul li a{
		height: auto;
	}

	/*************** Evenements  ***************/
	/* Entete */
	.evenements .header_event {
		flex-direction: column;
		text-align: center;
	}

	.evenements .header_event .picture {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.evenements .header_event .titre .rectangle {
		display: none;
	}
	/* Contenu éditorial  */
	.evenements .editor_event article {
		width: 100%;
	}
	.header_event h2::before {
		display: inline-block;
		background-image: url('../../ressources/images/fill_star.svg');

	}

	/*************** Titres  ***************/
	h1 {
		padding: 2rem 0;
	}

	/*************** Accueil  ***************/
	#accueil {
		clip-path: polygon(0 0, 100% 0%, 100% 95%, 0% 100%);
		padding: 0 0 20vh 0;
	}

	/*************** Agenda  ***************/
	#agenda {
		margin: auto;
	}

	/* Calendrier */
	#agenda #calendrier {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}

	#agenda #calendrier #mois p:nth-last-child(-n+2) {
		display: none;
	}

	#agenda #calendrier #mois p span {
		font-size: clamp(.1rem, 3.5vw, 1.125rem);
		right: -13%;
		bottom: 49%;
		transform: rotate(-90deg);
		font-size: 0.6rem;
	}

	#agenda #calendrier #mois, #agenda #calendrier .arrows {
		padding: 0;
	}

	/* Representation */
	#agenda #representation article {
		grid-template-columns: repeat(1, 1fr);
	}

	#agenda #representation article .date_tarif{
		display: none;
	}

	#agenda #representation article .picture div {
		left: -13%;
	}

	/*************** Informations pratiques  ***************/
	#infos_pratiques .grid  {
		width: 100%;
		column-gap: 0;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(4, 50vw);
		grid-template-areas:
			"restauration."
			"covid."
			"billetterie."
			"transport.";
	}

	/*************** Footer  ***************/
	footer {
		clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
		justify-content: space-around;
	}

	footer h1 {
		padding: 0;
	}

	footer img {
		position: absolute;
		z-index: -1;
		right: 0;
		bottom: 0;
		width: 23%;
	} 

	/* Article */
	footer article:nth-child(2n), footer article:nth-child(3n) ul{
		align-items: center;
		flex-direction: column;
	}

	footer article:nth-child(2n) {
		padding: 1.5rem 0;
	}

	footer img {
		display: none;
	}

	/*************** Evenements  ***************/
	/* Entete */
	.evenements .header_event .picture, .evenements .header_event .titre {
		text-align: center;
		width: 100%;
		padding: 0;
	}

	.evenements .header_event .picture .polygone {
		right: -9%;
		top: 0;
	}

}

/* Gros appareils (ordinateurs portables/de bureau, 992px et +) */
@media only screen and (max-width: 992px) {
	/*************** Accueil  ***************/
	#accueil article {
		flex-direction: column;
		align-items: center;
	}

	/* Bandeaux */
	#accueil #bandeaux img {
		top: 21%;
	}
	#accueil #bandeaux img:first-child {
		top: 50%;
	}
	#accueil #bandeaux .rectangle {
		bottom: 21%;
		width: 100vw;
		height: 45vh;
	}
	/* Actualités */
	#accueil article #img_news {    
		width: 80%;
	}


	/*************** Agenda ***************/
	/* #agenda #representation article {
	grid-gap: 1vw;
	grid-template-columns: 1fr 1fr 0fr 0fr;
} */

	/*************** Footer  ***************/
	footer h1 {
		padding: 1rem;
	}
}
