/* Arrière plan coupé */
/*************** Général  ***************/
#accueil {
	position: relative;
	text-align: center;
	background-color: var(--gris_fonce);
	display: flex;
	align-items: center;
}
#accueil #clip{
	clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 100%);
	/* background: greenyellow; */
}

/*************** Bandeaux  ***************/
#accueil #bandeaux img{
	position: absolute;
	z-index: 0;
}

#accueil #bandeaux img:first-child{
	transform: rotate(7deg);
	top: 30%;
}

/*************** Actualité  ***************/
#accueil article {
	z-index: 1;
	display: flex;
	align-items: flex-end;

}
#accueil article >* {
	width: 50%;
}
#accueil article div {
	align-items: flex-end;
}
#accueil article h3{
	font-family: lilgrotesk;
}

#accueil article p {
	font-family: monument;
	display: grid;
} 
