/* Arrière plan coupé */
/*************** Général  ***************/
#accueil {
	position: relative;
	text-align: center;
	background-color: var(--gris_fonce);
	display: flex;
	align-items: center;
	padding: 0;
	margin:0
}
#accueil #clip{
	clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 100%);
	/* background: greenyellow; */
}

/*************** Bandeaux  ***************/
#accueil #bandeaux img{
	position: absolute;
	z-index: 2;
	width: 100vw;
}

#accueil #bandeaux img:first-child{
	transform: rotate(-7deg);
	top: 10%;
}

/*************** Actualité  ***************/
#accueil article {
	z-index: 3;
	display: flex;
	align-items: flex-end;
	/* background-color: blue; */
	width: 100%;
}
#accueil article >* {
	width: 50%;
}
#accueil article div {
	position: relative;
	/* background-color: red; */
	width: 10%;
}
#accueil article h3{
	font-family: lilgrotesk;
}

#accueil article p {
	font-family: monument;
	display: grid;
} 
#accueil article .rectangle{
    bottom: -4%;
    left: -60%;
}