/*************** Général  ***************/
#accueil {
	position: relative;
	text-align: center;
	background-color: var(--gris_clair);
	clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 100%);
	margin-bottom: 0;
	padding: 0 0 33vh 0;
}

/*************** Bandeaux  ***************/
/* Gifs */
#accueil #bandeaux img{
	position: absolute;
	left: 0;
	top: 20%;
	z-index: -10;
	width: 100vw;
	transform: scale(1.1);
}

#accueil #bandeaux img:first-child{
	transform: scale(1.1) rotate(-7deg);
	top: 0;
}

/* Rectangle (COMMUN AUX PAGES D'ÉVÉNEMENTS) */
.rectangle{
	position: absolute;
	z-index: -11;
	transform: rotate(-7deg);
}

#accueil #bandeaux .rectangle {
	right: 0;
	bottom: 42%;
	width: 63vw;    
	height: 45vh;
	background-color: var(--orange);
	-webkit-box-shadow: 0 3px 16px -6px rgba(0,0,0,0.8); 
	box-shadow: 0 3px 16px -6px rgba(0,0,0,0.8);
}

/*************** Actualité  ***************/
#accueil article {
	z-index: 3;
	display: flex;
	align-items: end;
	width: 100%;
	height: 85vh;
}

#accueil article #img_news {
	width: 50%;
	height: 100%;
	object-fit: contain;
}

#accueil article div {
	position: relative;
}

#accueil article h3 {
	font-family: lilgrotesk;
}

#accueil article p {
	font-family: monument;
	margin: 1rem 0;
} 

#accueil article p span {
	display: block;
}
