/*************** Général  ***************/
#accueil {
	position: relative;
	text-align: center;
	background-color: var(--gris_clair);
	clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 100%);
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 0 20rem 0;
}

/*************** Bandeaux  ***************/
/* Gifs */
#accueil #bandeaux img{
	position: absolute;
	z-index: 1;
	width: 100vw;
	transform: scale(1.1);
}

#accueil #bandeaux img:first-child{
	transform: scale(1.1) rotate(-7deg);
	top: 10%;
}

/* Rectangle (COMMUN AUX PAGES D'ÉVÉNEMENTS) */
.rectangle{
	position: absolute;
	z-index: 0;
	background-color: var(--orange);
	width: 58rem;
	height: 200px;
	transform: rotate(-7deg);
}

#accueil #bandeaux .rectangle {
	right: 0;
    top: 40%;
	width: 63vw;
}

/*************** Actualité  ***************/
#accueil article {
	z-index: 3;
	display: flex;
	align-items: flex-end;
	background-color: rgba(0, 0, 255, 0.171);
	width: 100%;
}

#accueil article >* {
	width: 50%;
}

#accueil article img {
	background-color: rgba(137, 43, 226, 0.144);
}

#accueil article div {
	position: relative;
	background-color: rgba(255, 0, 0, 0.295);
	width: 10%;
}

#accueil article h3 {
	font-family: lilgrotesk;
}

#accueil article p {
	font-family: monument;
	display: grid;
} 
