/*************** Général ***************/
#agenda hr {
	height: 0.1px;
	margin: 2.5rem 0;
	background-color: var(--gris_clair);
	border: none;
}
#agenda #representation article {
	text-align: center;
	position: relative;
	display: grid;
	grid-template-columns:  repeat(4,1fr);
	grid-gap: 4rem;
}

#agenda #representation article >*  {
	/* background-color: lawngreen; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/*************** Image ***************/
/* Image générale */
#agenda #representation article .picture img {
	/* Adapter les images aux grilles */
	min-width: 100%;
	min-height: 100%;
}

/* Type de la performance dans un polygone */
#agenda #representation article .picture div {
	position: absolute;
	transform: rotate(-37deg);
	width: 8%;
	left: -3%;
    top: -25%;
}

#agenda #representation article .picture div span {
	color: var(--blanc);
	font-family: lilgroteskbold, Arial, sans-serif;
	/* Absolute */
	position: absolute;
	z-index: 1;
	/* 50 % du parent référent */
	top: 50%; 
	left: 50%; 
	/* décalage de 50% de sa propre taille */
  	transform: translate(-50%, -50%); 
}

/*************** Dates & Tarifs ***************/
#agenda #representation article .date_tarif span {
	position: relative;
	padding: 1rem;
}

#agenda #representation article .date_tarif span:first-of-type:before {
	/* Soulignement */
   	content: '';
    width: 45%;
    position: absolute;
	text-align: center;
    left: 0%;
	right: 0;
    bottom: -.1rem;
    border-width: 0 0 .1px;
    border-style: solid;
	margin: 0 auto;
}

/*************** Informations  ***************/
#agenda #representation article .infos_performance span  {
	font-size: 2rem;
	font-family: lilgroteskbold, Arial, sans-serif;
	-webkit-text-stroke: 0.1rem;
	-webkit-text-stroke-color: var(--noir);
	color: #fff0;
	margin: 0;
	padding: 1rem;
}

/*************** Boutons ***************/
#agenda #representation article .boutons  a {
	margin: .5rem 0;
}
