/*************** Général ***************/
#agenda {
	margin-top: -6rem;
}

#agenda hr {
	height: 0.1px;
	margin: 2.5rem 0;
	background-color: var(--gris_clair);
	border: none;
}

#agenda #representation article {
	text-align: center;
	position: relative;
	display: grid;
	grid-template-columns:  repeat(4,1fr);
	grid-gap: 4vw;
}

#agenda #representation article >*  {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

/*************** Calendrier ***************/
/* Mois */
#agenda #calendrier #mois {
	padding: 2rem 3rem;
	justify-content: space-between;
	display: flex;
}

#agenda #calendrier #mois p {
	position: relative;
}

#agenda #calendrier #mois > p {
	font-size: clamp(2rem, 8vw, 10rem);
	font-family: lilgroteskbold, Arial, sans-serif;
	-webkit-text-stroke: 0.1rem;
	-webkit-text-stroke-color: var(--gris_clair);
	color: transparent;
}

#agenda #calendrier #mois > p.active {
	-webkit-text-stroke-color: var(--noir);
}

#agenda #calendrier #mois p span {
	font-size: clamp(1rem, 3.5vw, 1.125rem);
	font-family: lilgrotesk;
	-webkit-text-stroke: initial;
	color: var(--gris_clair);
	position: absolute;
	right: 0%;
	bottom: 60%;
	transform: rotate(-90deg);
}

#agenda #calendrier #mois p.active span {
	color: var(--noir);
}

/* Flèches */
.arrows {
	padding: 3rem 4.5rem;
	font-family: monument;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.arrows div {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.arrows svg {
	width: clamp(18vw,20vw,30vw);
}

.left_arrow {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

/*************** Représentation ***************/
/*** Image ***/
/* Image générale */
#agenda #representation article .picture img {
	/* Adapter les images aux grilles */
	min-width: 100%;
	min-height: 100%;
}

/* Type de la performance dans un polygone */
#agenda #representation article .picture div {
	left: -3%;
	top: -3vw;
}

.polygone {
	/* COMMUN AUX PAGES D'ÉVÉNEMENTS */
	position: absolute;
	z-index: 1;
	transform: rotate(-37deg);
	width: 6.5rem;
}

.polygone span {
	/* COMMUN AUX PAGES D'ÉVÉNEMENTS */
	color: var(--blanc);
	font-family: lilgroteskbold, Arial, sans-serif;
	/* Absolute */
	position: absolute;
	z-index: 1;
	/* 50 % du parent référent */
	top: 50%; 
	left: 50%; 
	/* décalage de 50% de sa propre taille */
	transform: translate(-50%, -50%); 
}

/*** Dates & Tarifs (COMMUN AUX PAGES D'ÉVÉNEMENTS) ***/ 
.date_tarif span {
	position: relative;
	padding: 1rem;
}

.date_tarif span:first-of-type:before {
	/* Soulignement */
	content: '';
	width: 45%;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	bottom: -.1rem;
	border-width: 0 0 .1px;
	border-style: solid;
	margin: 0 auto;
}

/*** Informations ***/ 
#agenda #representation article .infos_performance span  {
	font-size: 2rem;
	font-family: lilgroteskbold, Arial, sans-serif;
	-webkit-text-stroke: 0.1rem;
	-webkit-text-stroke-color: var(--noir);
	color: transparent;
	margin: 0;
	padding: 1rem;
}

/*** Boutons ***/ 
#agenda #representation article .boutons  a {
	margin: .5rem 0;
}
