/*************** Général  ***************/
#infos_pratiques {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#infos_pratiques .grid {
	width: 70%;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, .5fr);
	grid-gap: 1rem; /*marges entre lignes et colonnes */
	grid-auto-flow: row dense;
	grid-template-areas:
		"restauration covid ."
		"restauration billetterie ."
		"transport transport .";
}

#restauration { grid-area: restauration; }
#covid { grid-area: covid; }
#transport { grid-area: transport; }
#billetterie { grid-area: billetterie; }

/*************** Cards infos pratiques  ***************/
#infos_pratiques article {
	position: relative;
	overflow: hidden;
}

#infos_pratiques .grid article img {
	position: relative;
	transition: transform .5s ease-in-out;
	/* Adapter les images aux grilles */
	min-width: 100%;
	min-height: 100%;
	/* Images centré dans les grilles */
	top: 50%;
	transform: translateY(-50%);
}

#infos_pratiques .grid article h3 {
	position: absolute;
	z-index: 1;
	bottom: 0;
	padding: 2rem;
	font-family: lilgroteskbold, Arial, sans-serif;
	font-size: 2rem;
	color: var(--blanc);
}

/*************** Survol : Overlay + Zoom  ***************/
/* Overlay */
#infos_pratiques .grid article .overlay {
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	/* Flex */
	display: flex;
	align-items: center;
	justify-content: center;
	/* Absolute */
	position: absolute;
	z-index: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#infos_pratiques .grid article .overlay svg {
	width: clamp(2rem, 6vw, 10vw);
	height: clamp(2rem, 6vw, 10vw);
}

#infos_pratiques .grid article#restauration .overlay {
	background-color: #efa3c89d;
}
#infos_pratiques .grid article#covid .overlay {
	background-color: hsla(14, 82%, 55%, 0.706);
}
#infos_pratiques .grid article#billetterie .overlay {
	background-color: #ea536c96;
}
#infos_pratiques .grid article#transport .overlay {
	background-color: #d6ab2c9d;
}

#infos_pratiques article:hover .overlay {
	opacity: 1;
}

/* Zoom */
#infos_pratiques article:hover img {
	-ms-transform: translateY(-50%) scale(1.5);	
	-webkit-transform: translateY(-50%) scale(1.5);
	transform: translateY(-50%) scale(1.5);
	top: 50%;
}