/*************** Général ***************/
.evenements, .evenements section {
	min-height: 0;
}

/*************** Entete ***************/
.evenements .header_event{
	margin-bottom: 0;
	padding-bottom: 0;
	position: relative;
	z-index: 1;
	display: flex;
	background-color: blueviolet;
}

/* Images */
.evenements .header_event .picture{ 
	position: relative;
	width: 40%;
}

.evenements .header_event .picture .polygone {
	right: -11%;
	top: -7%;
}
.evenements .header_event .picture .image_rectangle{
	clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 0);
}
/* Titres */
.header_event .titre {
	width : 55%;
	display: flex;
	flex-direction: column;
	padding-left: 50px;
}

.header_event .boutons {
	margin-top: auto;
	padding-bottom: 1.5vw;
	background-color: burlywood;
}
.header_event .boutons a  {
	margin: 0.5rem 0;
}
.header_event .rectangle{
	background-color: var(--gris_clair);
	left: 1%;
	top: 20%;
	width: 100vw;
	height: 10vw;
}

/*************** Contenu éditorial ***************/
.evenements .editor_event {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 0;
	padding-top: 0;
}

/* En détail */
.evenements  .editor_event .en_details {
	text-align: center;
	background-color: blue;
}

.evenements .editor_event .en_details .date_tarif {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 16rem;
	height: 15rem;
	margin: 1rem 0;
	border: 0.25rem var(--orange) solid;
	/* Ombre interne */
	-webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.103); 
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.103);	
	/* Centrer l'élément */
	margin-left: auto;
	margin-right: auto;
}

/* Texte */
.evenements .editor_event article {
	width: 55%;
	background-color: red;
}

