/* clip-path: polygon(0 10%, 100% 0%, 100 90%, 0 100%); */


/*section image et titre*/
.editor_event{
    display: flex;
    min-height: auto;
    padding-bottom: 0;
    margin-bottom: 0;
}

.editor_event .picture{ 
    position: relative;
    max-width: 45%;
	height: auto;
    margin: 0;
    padding: 0;
}


.editor_event .picture .cut{
    clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 0);
}

.editor_event #titre {
    width : 55%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}


.editor_event #titre h1{
    font-family: 'gulax';
    font-size: 7.5rem;
    text-align: left;
    text-transform: none;
    padding-left: 0;
}

#titre h2{
    padding: 10px;
}

#titre h1::before {
    content: none;
}

#titre h1::after {
    content: url(../../ressources/images/outline_star.svg);
    vertical-align: 50%;
}


/* polygone */
.editor_event .picture div {
	position: absolute;
	transform: rotate(-37deg);
    z-index: 1;
	width: 16%;
    left: 95%;
    top: -10%;
}

.editor_event .picture div span {
	color: var(--blanc);
	font-family: lilgroteskbold, Arial, sans-serif;
	position: absolute;
	z-index: 1;
	top: 50%; 
	left: 50%; 
  	transform: translate(-50%, -50%); 
}

/*************** Performance texte éditoriale  ***************/
.editor_event {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.en_details {
    text-align: center;
}

.editor_event .en_details .date_tarif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15rem;
    height: 20rem;
    margin: 1rem 0;
    border: 0.5rem var(--orange) solid;
}

.editor_event article {
    width: 60%;
}
