:root
{
	/* Couleurs */
	--fond_bg: #D9D5D2;
	--noir: #212121;
	--blanc: #FFFFFF;
	--orange: #FF8607;
	--clementine: #FFAA01;
	--gris_fonce: #707070;
	--gris_clair: #A79694;
	/* Fonts */
	/* --gris: #938F90;
	--titre: ;
	--texte: ; */
}