.btn {
	font-size: 1rem;
	font-family: monument, sans-serif;
	text-transform: lowercase;
	text-align: center;
	padding: .5rem 1.5rem;
	border: 0.2rem solid;
	border-radius: 30rem;
}

.btn.ticket {
	background-color: var(--noir);
	color: var(--blanc);
	border-color: var(--noir);
}
.btn.more {
	background-color: var(--orange);
	color: var(--noir);
	border-color: var(--orange);
}

/* Hover */
/* btn image en svg ? ou before */
.btn.ticket:hover {
	background-color: var(--blanc);
	color: var(--noir);
	border-color: var(--noir);
}
.btn.ticket:hover img {
	filter: invert(1);
}

.btn.more:hover {
	background-color: var(--blanc);
	color: var(--orange);
	border-color: var(--orange);
}