.btn {
	font-size: 1rem;
	font-family: monument, sans-serif;
	text-transform: lowercase;
	text-align: center;
	display: inline-block;
	padding: .5rem 1.5rem;
	border: 0.2rem solid;
	border-radius: 30rem;
	width: 10rem;
	transition: all 0.5s ease;
}

.btn.ticket {
	background-color: var(--noir);
	color: var(--blanc);
	border-color: var(--noir);
}

.btn.more {
	background-color: var(--orange);
	border-color: var(--orange);
}

/* Hover */
.btn.ticket:hover {
	background-color: var(--blanc);
	color: var(--noir);
	border-color: var(--noir);
}

.btn.ticket:hover img {
	filter: invert(1);
}

.btn.more:hover {
	background-color: var(--blanc);
	color: var(--orange);
	border-color: var(--orange);
}