/***************  Fonts réactive  ***************/
p, a, h1, h2, h3, h4, h5, h6 {
	/* "min" = valeur minimale; "val" = valeur préférée en unité relative; "max" = valeur maximale  */
	font-size: clamp(var(--min), var(--val), var(--max));
}

/*************** Textes ***************/
p, a, strong, span {
	--min: 1rem;  
	--val: 3.5vw; 
	--max: 1.125rem;
}

strong {
	font-family: lilgroteskbold, Arial, sans-serif;
}

/*************** Titres ***************/
h1 {
	/* Size */
	--min: 6vw; 
	--val: 8vw; 
	--max: 10vw;
	font-family: lilgroteskbold, Arial, sans-serif;
	line-height: clamp(1rem, 11vw, 6rem);
	font-weight : bold;
	color: var(--noir);
	text-transform: uppercase;
	text-align: center;
	padding: 4rem;
	position: relative;
	background-color: rgba(165, 42, 42, 0.185);
}

h1::before, h1::after {
	content:"";
	background-image: url('../../ressources/images/outline_star.svg');
	background-size: clamp(1vw, 2vw, 4vw);
	width: clamp(1vw, 2vw, 4vw);
	height: clamp(1vw, 2vw, 4vw);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: 10%;
	margin: 0 2vw;
}

h2 {
	font-family: lilgroteskbold;
	/* il n'y en a pas */
}

h3 {
	font-family: monument;
	--min: 2rem; 
	--val: 2vw; 
	--max: 4vw;
}

h4 {
	font-family: monument;
	font-size: 17px;
}

/* h1 {
font-size: 5.9vw;
}
h2 {
font-size: 3.0vh;
}
p {
font-size: 2vmin;
} */