/*************** Textes  ***************/
p {
    font-size: 1.125rem;
}

strong {
	font-family: lilgroteskbold, Arial, sans-serif;
}

/*************** Titres  ***************/
h1 {
    font-size: 7rem;
    font-family: lilgroteskbold, Arial, sans-serif;
    font-weight : bold;
    color: var(--noir);
    text-transform: uppercase;
    text-align: center;
    padding: 4rem;
}

h1::before, h1::after {
    content: url(../../ressources/images/outline_star.svg);
    margin: 10px;
    vertical-align: 50%;
}

h2 {
    font-family: lilgroteskbold;
}

h3 {
    font-family: monument;
    font-size: 29px;
}

h4 {
    font-family: monument;
    font-size: 17px;
}

/* 
h1 {
 font-size: 5.9vw;
}
h2 {
 font-size: 3.0vh;
}
p {
 font-size: 2vmin;
} */

