h1 {
    font-size: 5rem;
    font-family: lilgroteskbold, Arial, sans-serif;
    font-weight : bold;
    color: var(--noir);
    text-transform: uppercase;
    text-align: center;
}

h1::before, h1::after {
    content: url(../../ressources/images/outline_star.svg);
    margin: 10px;
    vertical-align: 50%;
}
